.contenedor h1, .contenedor .h1 {
    font-size: 2.25rem;
  }
  .contenedor {
    min-height: 90vh;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  @media (min-width: 992px) {

    .contenedor p {
      font-size: 1.15rem;
    }
    .contenedor h1, .contenedor .h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    .contenedor h1, .contenedor .h1 {
      font-size: 3.5rem;
    }
  }

.head-img{
    border-radius: 100px;
}

.card-text--justify{
  text-align: justify;
}

.img {
  border-radius: 8px;
  width: 120px;
  height: 120px;
}